 #job{
  padding-top: 40px;
  font-size:100px;
  font-weight: bolder;
  color: #ee00ff;
} 

gap: 5px; 
line-height: 30px; 

.cont{
  padding: 60px 50px 0 50px;
  height: 75vh;
  width: 100%;
  display: flex;
  justify-content: center;
 }
 
 .sub-cont{
   border-radius: 15px;
   margin: 5px 20px ;
   width: 180px;
   height: 300px;
   background-color: whitesmoke;
 }
 .sub-div-1, .sub-div-2{
  display: none;
  box-shadow: 4px 8px 5px #8888;
  border-radius: 15px;
  margin: 2px 5px;
  width: 55px;
  height: 60px;
  background-color: whitesmoke;
 }